<div class="row">
    <div class="col-md-6">
        <img src={{url}} class="image">
    </div>
    <div class="col-md-6">
        <div class="infos">
            <span class="badge badge-info">
                Comments 
                <span class="badge badge-light">{{comments}}</span>
            </span>
        </div>
        
        <div class="infos">
            <span class="badge badge-info">
                Likes 
                <span class="badge badge-light">{{likes}}</span>
            </span>
        </div>

        <div class="infos">
            <span class="badge badge-info">
                Downloads 
                <span class="badge badge-light">{{downloads}}</span>
            </span>
        </div>

        <div class="infos">
            <span class="badge badge-info">
                tags 
                <span class="badge badge-light">{{tags}}</span>
            </span>
        </div>

        <div class="infos">
            <span class="badge badge-info">
                Favorites 
                <span class="badge badge-light">{{favorites}}</span>
            </span>
        </div>
    </div>
</div>
